Repository OpenRakis/Spice86, pull requests merged in 2023-02, with the labels that each got.

#254 - Introduce Dos class to manage DOS subsystems.
  src/Spice86.Core/Emulator/InterruptHandlers/Dos/DosInt21Handler.cs
  src/Spice86.Core/Emulator/LoadableFile/Dos/PspGenerator.cs
  src/Spice86.Core/Emulator/Memory/Bios.cs
  src/Spice86.Core/Emulator/Memory/MemoryMap.cs
  src/Spice86.Core/Emulator/OperatingSystem/BlockDevice.cs
  src/Spice86.Core/Emulator/OperatingSystem/CharacterDevice.cs
  src/Spice86.Core/Emulator/OperatingSystem/DeviceAttributes.cs
  src/Spice86.Core/Emulator/OperatingSystem/DeviceStream.cs
  src/Spice86.Core/Emulator/OperatingSystem/Dos.cs
  src/Spice86.Core/Emulator/OperatingSystem/DosDiskTransferArea.cs
  src/Spice86.Core/Emulator/OperatingSystem/DosFileManager.cs
  src/Spice86.Core/Emulator/OperatingSystem/DosFileOperationResult.cs
  src/Spice86.Core/Emulator/OperatingSystem/DosMemoryControlBlock.cs
  src/Spice86.Core/Emulator/OperatingSystem/DosMemoryManager.cs
  src/Spice86.Core/Emulator/OperatingSystem/EnvironmentVariables.cs
  src/Spice86.Core/Emulator/OperatingSystem/ErrorCode.cs
  src/Spice86.Core/Emulator/OperatingSystem/IVirtualDevice.cs
  src/Spice86.Core/Emulator/OperatingSystem/OpenFile.cs
  src/Spice86.Core/Emulator/OperatingSystem/VirtualDeviceBase.cs
  src/Spice86.Core/Emulator/ProgramExecutor.cs
  src/Spice86.Core/Emulator/VM/Machine.cs
Labels: compatibility, DOS

#255 CPU: ENTER instruction
  src/Spice86.Core/Emulator/CPU/CPU.cs
  src/Spice86.Core/Emulator/CPU/InstructionsImpl/Instructions16.cs
  src/Spice86.Core/Emulator/CPU/InstructionsImpl/Instructions16Or32.cs
  src/Spice86.Core/Emulator/CPU/InstructionsImpl/Instructions32.cs
  src/Spice86.Core/Emulator/InterruptHandlers/Dos/DosInt2fHandler.cs
Labels: compatibility, CPU, 32 bit, 16 bit

#270 INT2F: Reworked and added more fake services
  src/Spice86.Core/Emulator/InterruptHandlers/Dos/DosInt21Handler.cs
  src/Spice86.Core/Emulator/InterruptHandlers/Dos/DosInt2fHandler.cs
  src/Spice86.Core/Emulator/OperatingSystem/Dos.cs
  src/Spice86.Core/Emulator/VM/Machine.cs
Labels: compatibility, DOS

#265 Initial prefix 67 support
  src/Spice86.Core/Emulator/CPU/CPU.cs
  src/Spice86.Core/Emulator/CPU/Exceptions/CpuGeneralProtectionFaultException.cs
  src/Spice86.Core/Emulator/CPU/ModRM.cs
Labels: CPU
