Repository OpenRakis/Spice86, pull requests merged in 2023-06, with the labels that each got.

#323 Feature: Audio IIR Filters (internal)
  src/Spice86.Core/Backend/Audio/IirFilters/Biquad.cs
  src/Spice86.Core/Backend/Audio/IirFilters/BiquadPoleState.cs
  src/Spice86.Core/Backend/Audio/IirFilters/Cascade.cs
  src/Spice86.Core/Backend/Audio/IirFilters/ComplexExtensions.cs
  src/Spice86.Core/Backend/Audio/IirFilters/ComplexPair.cs
  src/Spice86.Core/Backend/Audio/IirFilters/ComplexUtils.cs
  src/Spice86.Core/Backend/Audio/IirFilters/DirectFormAbstract.cs
  src/Spice86.Core/Backend/Audio/IirFilters/DirectFormI.cs
  src/Spice86.Core/Backend/Audio/IirFilters/DirectFormII.cs
  src/Spice86.Core/Backend/Audio/IirFilters/HighPass.cs
  src/Spice86.Core/Backend/Audio/IirFilters/HighPassTransform.cs
  src/Spice86.Core/Backend/Audio/IirFilters/HighShelf.cs
  src/Spice86.Core/Backend/Audio/IirFilters/LayoutBase.cs
  src/Spice86.Core/Backend/Audio/IirFilters/LowPass.cs
  src/Spice86.Core/Backend/Audio/IirFilters/LowPassTransform.cs
  src/Spice86.Core/Backend/Audio/IirFilters/LowShelf.cs
  src/Spice86.Core/Backend/Audio/IirFilters/MathSupplement.cs
  src/Spice86.Core/Backend/Audio/IirFilters/PoleZeroPair.cs
  src/Spice86.Core/Backend/Audio/IirFilters/RBJBase.cs
Labels: audio

#315 Feature: A20 Gate emulation
  src/Spice86.Core/CLI/Configuration.cs
  src/Spice86.Core/Emulator/Callback/CallbackHandler.cs
  src/Spice86.Core/Emulator/Callback/IndexBasedDispatcher.cs
  src/Spice86.Core/Emulator/Devices/Input/Keyboard/Keyboard.cs
  src/Spice86.Core/Emulator/Devices/Input/Keyboard/KeyboardCommand.cs
  src/Spice86.Core/Emulator/Devices/Input/Keyboard/KeyboardPorts.cs
  src/Spice86.Core/Emulator/InterruptHandlers/Bios/SystemBiosInt15Handler.cs
  src/Spice86.Core/Emulator/InterruptHandlers/Dos/DosInt20Handler.cs
  src/Spice86.Core/Emulator/InterruptHandlers/Dos/DosInt21Handler.cs
  src/Spice86.Core/Emulator/InterruptHandlers/Dos/DosInt2fHandler.cs
  src/Spice86.Core/Emulator/InterruptHandlers/Dos/Ems/ExpandedMemoryManager.cs
  src/Spice86.Core/Emulator/InterruptHandlers/Input/Keyboard/BiosKeyboardInt9Handler.cs
  src/Spice86.Core/Emulator/InterruptHandlers/Input/Keyboard/KeyboardInt16Handler.cs
  src/Spice86.Core/Emulator/InterruptHandlers/Input/Mouse/MouseInt33Handler.cs
  src/Spice86.Core/Emulator/InterruptHandlers/InterruptHandler.cs
  src/Spice86.Core/Emulator/InterruptHandlers/SystemClock/SystemClockInt1AHandler.cs
  src/Spice86.Core/Emulator/InterruptHandlers/Timer/TimerInt8Handler.cs
  src/Spice86.Core/Emulator/Memory/A20Gate.cs
  src/Spice86.Core/Emulator/Memory/Memory.cs
  src/Spice86.Core/Emulator/VM/Machine.cs
  src/Spice86.Tests/MainMemoryTest.cs
Labels: compatibility, memory, 16 bit

#336 Fix video crashes
  src/Spice86.Core/Emulator/Devices/Video/Renderer.cs
Labels: video, hardware

#337 Tests and fixes for the PIC 8259 implementation.
  src/Spice86.Core/Emulator/Devices/ExternalInput/DualPic.cs
  src/Spice86.Core/Emulator/Devices/ExternalInput/IHardwareInterruptController.cs
  src/Spice86.Core/Emulator/Devices/ExternalInput/Pic.cs
  src/Spice86.Core/Emulator/InterruptHandlers/Input/Keyboard/BiosKeyboardInt9Handler.cs
  src/Spice86.Core/Emulator/InterruptHandlers/Timer/TimerInt8Handler.cs
  src/Spice86.Core/Spice86.Core.csproj
  src/Spice86.Tests/PicTests.cs
Labels: hardware

#348 New mouse driver
  COMPATIBILITY.md
  README.md
  src/Spice86.Core/CLI/Configuration.cs
  src/Spice86.Core/Emulator/CPU/CPU.cs
  src/Spice86.Core/Emulator/Devices/Input/Mouse/Mouse.cs
  src/Spice86.Core/Emulator/Devices/Input/Mouse/MouseEventMask.cs
  src/Spice86.Core/Emulator/Devices/Input/Mouse/MouseType.cs
  src/Spice86.Core/Emulator/Devices/Video/IVgaFunctionality.cs
  src/Spice86.Core/Emulator/InterruptHandlers/Input/Mouse/BiosMouseInt74Handler.cs
  src/Spice86.Core/Emulator/InterruptHandlers/Input/Mouse/CustomMouseInt90Handler.cs
  src/Spice86.Core/Emulator/InterruptHandlers/Input/Mouse/IMouseDevice.cs
  src/Spice86.Core/Emulator/InterruptHandlers/Input/Mouse/IMouseDriver.cs
  src/Spice86.Core/Emulator/InterruptHandlers/Input/Mouse/MouseDriver.cs
  src/Spice86.Core/Emulator/InterruptHandlers/Input/Mouse/MouseInt33Handler.cs
  src/Spice86.Core/Emulator/InterruptHandlers/Input/Mouse/MouseStatus.cs
  src/Spice86.Core/Emulator/InterruptHandlers/Input/Mouse/MouseUserCallback.cs
  src/Spice86.Core/Emulator/InterruptHandlers/VGA/VgaFunctionality.cs
  src/Spice86.Core/Emulator/InterruptHandlers/VGA/VideoModeChangedEventArgs.cs
  src/Spice86.Core/Emulator/VM/Machine.cs
  src/Spice86.Shared/Emulator/Mouse/MouseButton.cs
  src/Spice86.Shared/Emulator/Mouse/MouseButtonEventArgs.cs
  src/Spice86.Shared/Emulator/Mouse/MouseMoveEventArgs.cs
  src/Spice86.Shared/Interfaces/IGui.cs
  src/Spice86/ViewModels/MainWindowViewModel.cs
  src/Spice86/Views/VideoBufferView.axaml.cs
Labels: compatibility, input, hardware, 16 bit, BIOS
