Repository OpenRakis/Spice86, pull requests merged in 2025-08, with the labels that each got.

#1234 Segmented address can change even if linear address is the same
  README.md
  doc/cfgcpuReadme.md
  src/Spice86.Shared/Emulator/Memory/SegmentedAddress.cs
  tests/Spice86.Tests/CfgCpu/InstructionsFeederTest.cs
  tests/Spice86.Tests/MachineTest.cs
  tests/Spice86.Tests/Resources/cpuTests/asmsrc/linearsamesegmenteddifferent.asm
  tests/Spice86.Tests/Resources/cpuTests/linearsamesegmenteddifferent.bin
  tests/Spice86.Tests/Resources/cpuTests/res/DumpedListing/linearsamesegmenteddifferent.txt
  tests/Spice86.Tests/Spice86Creator.cs
Labels: memory, tests

#1236 refactor: DosMemoryManager, DosMemoryControlBlock, ModifyBlock, DosProcessManager
  src/Spice86.Core/Emulator/InterruptHandlers/Dos/DosInt21Handler.cs
  src/Spice86.Core/Emulator/OperatingSystem/Dos.cs
  src/Spice86.Core/Emulator/OperatingSystem/DosFileManager.cs
  src/Spice86.Core/Emulator/OperatingSystem/DosMemoryManager.cs
  src/Spice86.Core/Emulator/OperatingSystem/DosPathResolver.cs
  src/Spice86.Core/Emulator/OperatingSystem/DosProcessManager.cs
  src/Spice86.Core/Emulator/OperatingSystem/Enums/DosErrorCode.cs
  src/Spice86.Core/Emulator/OperatingSystem/Structures/DosFileOperationResult.cs
  src/Spice86.Core/Emulator/OperatingSystem/Structures/DosMemoryControlBlock.cs
  src/Spice86.Core/Emulator/OperatingSystem/Structures/DosProgramSegmentPrefix.cs
  src/Spice86.Core/Emulator/OperatingSystem/Structures/DosSysVars.cs
Labels: DOS, refactoring

#1245 Make CFG CPU Dump execution flow
  src/Spice86.Core/Emulator/CPU/CfgCpu/Feeder/CfgNodeFeeder.cs
  src/Spice86.Core/Emulator/CPU/CfgCpu/Feeder/CurrentInstructions.cs
  src/Spice86.Core/Emulator/CPU/CfgCpu/Feeder/PreviousInstructions.cs
  src/Spice86.Core/Emulator/CPU/CfgCpu/InstructionExecutor/InstructionExecutionHelper.cs
  src/Spice86.Core/Emulator/CPU/CfgCpu/Linker/ExecutionContext.cs
  src/Spice86.Core/Emulator/CPU/CfgCpu/Linker/NodeLinker.cs
  src/Spice86.Core/Emulator/CPU/CfgCpu/ParsedInstruction/InstructionSuccessorType.cs
  src/Spice86.Core/Emulator/CPU/CfgCpu/ParsedInstruction/Instructions/Grp5RmJumpFar.cs
  src/Spice86.Core/Emulator/CPU/CfgCpu/ParsedInstruction/Instructions/Grp5RmJumpNear.cs
  src/Spice86.Core/Emulator/CPU/CfgCpu/ParsedInstruction/Instructions/Interfaces/ICallInstruction.cs
  src/Spice86.Core/Emulator/CPU/CfgCpu/ParsedInstruction/Instructions/Interfaces/IJumpInstruction.cs
  src/Spice86.Core/Emulator/CPU/CfgCpu/ParsedInstruction/Instructions/Interrupt.cs
  src/Spice86.Core/Emulator/CPU/CfgCpu/ParsedInstruction/Instructions/Interrupt3.cs
  src/Spice86.Core/Emulator/CPU/CfgCpu/ParsedInstruction/Instructions/InterruptOverflow.cs
  src/Spice86.Core/Emulator/CPU/CfgCpu/ParsedInstruction/Instructions/JmpFarImm.cs
  src/Spice86.Core/Emulator/CPU/CfgCpu/ParsedInstruction/Instructions/Mixins/CallFarImm.mixin
  src/Spice86.Core/Emulator/CPU/CfgCpu/ParsedInstruction/Instructions/Mixins/CallNearImm.mixin
  src/Spice86.Core/Emulator/CPU/CfgCpu/ParsedInstruction/Instructions/Mixins/Grp5RmCallFar.mixin
  src/Spice86.Core/Emulator/CPU/CfgCpu/ParsedInstruction/Instructions/Mixins/Grp5RmCallNear.mixin
  src/Spice86.Core/Emulator/CPU/CfgCpu/ParsedInstruction/Instructions/Mixins/JmpNearImm.mixin
  src/Spice86.Core/Emulator/Function/CfgCpuFlowDumper.cs
  src/Spice86.Core/Emulator/Function/Dump/EmulatorStateSerializer.cs
  src/Spice86.Core/Emulator/Function/Dump/ExecutionDump.cs
  src/Spice86.Core/Emulator/Function/Dump/ExecutionFlowDumper.cs
  src/Spice86.Core/Emulator/Function/Dump/GhidraSymbolsDumper.cs
  src/Spice86.Core/Emulator/Function/Dump/IExecutionDumpFactory.cs
  src/Spice86.Core/Emulator/Function/Dump/RecordedDataReader.cs
  src/Spice86.Core/Emulator/Function/Dump/RecordedDataWriter.cs
  src/Spice86.Core/Emulator/Function/ExecutionFlowRecorder.cs
  src/Spice86.Core/Emulator/Gdb/GdbCommandHandler.cs
  src/Spice86.Core/Emulator/Gdb/GdbCustomCommandsHandler.cs
  src/Spice86.Core/Emulator/Gdb/GdbServer.cs
  src/Spice86.Core/Emulator/ProgramExecutor.cs
  src/Spice86/Spice86DependencyInjection.cs
  tests/Spice86.Tests/Dos/DosFileManagerTests.cs
  tests/Spice86.Tests/MachineTest.cs
Labels: reverse engineering, CFGCPU

#1110 Feature: XMS driver (real mode only)
  src/ExtendedMemoryManager.cs
  src/Spice86.Core/CLI/Configuration.cs
  src/Spice86.Core/Emulator/InterruptHandlers/Bios/Enums/ExtendedMemoryCopyStatus.cs
  src/Spice86.Core/Emulator/InterruptHandlers/Bios/Structures/BiosDataArea.cs
  src/Spice86.Core/Emulator/InterruptHandlers/Bios/Structures/GlobalDescriptorTable.cs
  src/Spice86.Core/Emulator/InterruptHandlers/Bios/SystemBiosInt12Handler.cs
  src/Spice86.Core/Emulator/InterruptHandlers/Bios/SystemBiosInt15Handler.cs
  src/Spice86.Core/Emulator/InterruptHandlers/Common/MemoryWriter/MemoryAsmWriter.cs
  src/Spice86.Core/Emulator/InterruptHandlers/Dos/DosInt21Handler.cs
  src/Spice86.Core/Emulator/InterruptHandlers/Dos/DosInt2fHandler.cs
  src/Spice86.Core/Emulator/InterruptHandlers/Dos/Ems/EmmSubFunctionsCodes.cs
  src/Spice86.Core/Emulator/InterruptHandlers/Dos/Ems/ExpandedMemoryManager.cs
  src/Spice86.Core/Emulator/InterruptHandlers/Dos/Xms/ExtendedMemoryManager.cs
  src/Spice86.Core/Emulator/InterruptHandlers/Dos/Xms/ExtendedMemoryMoveStructure.cs
  src/Spice86.Core/Emulator/InterruptHandlers/Dos/Xms/XmsBlock.cs
  src/Spice86.Core/Emulator/InterruptHandlers/Dos/Xms/XmsErrorCodes.cs
  src/Spice86.Core/Emulator/InterruptHandlers/Dos/Xms/XmsInt2FFunctionsCodes.cs
  src/Spice86.Core/Emulator/InterruptHandlers/Dos/Xms/XmsSubFunctionsCodes.cs
  src/Spice86.Core/Emulator/InterruptHandlers/Input/Keyboard/BiosKeyboardBuffer.cs
  src/Spice86.Core/Emulator/InterruptHandlers/Input/Keyboard/KeyboardInt16Handler.cs
  src/Spice86.Core/Emulator/InterruptHandlers/Timer/TimerInt8Handler.cs
  src/Spice86.Core/Emulator/InterruptHandlers/VGA/VgaBios.cs
  src/Spice86.Core/Emulator/InterruptHandlers/VGA/VgaFunctionality.cs
  src/Spice86.Core/Emulator/Memory/A20Gate.cs
  src/Spice86.Core/Emulator/Memory/IMemory.cs
  src/Spice86.Core/Emulator/Memory/Memory.cs
  src/Spice86.Core/Emulator/Memory/MemoryMap.cs
  src/Spice86.Core/Emulator/OperatingSystem/Devices/ConsoleDevice.cs
  src/Spice86.Core/Emulator/OperatingSystem/Devices/IVirtualDevice.cs
  src/Spice86.Core/Emulator/OperatingSystem/Dos.cs
  src/Spice86.Core/Emulator/OperatingSystem/DosFileManager.cs
  src/Spice86.Core/Emulator/OperatingSystem/Structures/DosSysVars.cs
  src/Spice86.Core/Emulator/OperatingSystem/Structures/DosTables.cs
  src/Spice86.Core/Emulator/VM/Machine.cs
  src/Spice86.Core/LinkedListExtensions.cs
  src/Spice86.Shared/Utils/MemoryUtils.cs
  src/Spice86/Spice86DependencyInjection.cs
  tests/Spice86.Tests/Dos/DosFileManagerTests.cs
  tests/Spice86.Tests/Dos/Xms/Xms32BitUnitTests.cs
  tests/Spice86.Tests/Dos/Xms/XmsIntegrationTests.cs
  tests/Spice86.Tests/Dos/Xms/XmsUnitTests.cs
  tests/Spice86.Tests/Spice86Creator.cs
Labels: compatibility, memory, DOS, 32 bit, 16 bit, callback, XMS, BIOS

#1254 fix: EMS and XMS could not be disabled
  src/Spice86.Core/CLI/Configuration.cs
  src/Spice86.Core/Emulator/OperatingSystem/Dos.cs
  src/Spice86.Core/Emulator/OperatingSystem/Structures/DosSysVars.cs
  src/Spice86/Spice86DependencyInjection.cs
Labels: bugfix

#1262 feature: SHRD instruction
  src/Spice86.Core/Emulator/CPU/Alu.cs
  src/Spice86.Core/Emulator/CPU/Alu16.cs
  src/Spice86.Core/Emulator/CPU/Alu32.cs
  src/Spice86.Core/Emulator/CPU/Alu8.cs
  src/Spice86.Core/Emulator/CPU/CfgCpu/Ast/Instruction/InstructionOperation.cs
  src/Spice86.Core/Emulator/CPU/CfgCpu/ParsedInstruction/Instructions/Mixins/ShxdCl.mixin
  src/Spice86.Core/Emulator/CPU/CfgCpu/ParsedInstruction/Instructions/Mixins/ShxdImm8.mixin
  src/Spice86.Core/Emulator/CPU/CfgCpu/ParsedInstruction/Instructions/Shld.cs
  src/Spice86.Core/Emulator/CPU/CfgCpu/ParsedInstruction/Instructions/Shxd.cs
  src/Spice86.Core/Emulator/CPU/CfgCpu/Parser/InstructionParser.cs
  src/Spice86.Core/Emulator/CPU/CfgCpu/Parser/SpecificParsers/OperationModRmImmParser.cs
  src/Spice86.Core/Emulator/CPU/CfgCpu/Parser/SpecificParsers/OperationModRmParser.cs
  tests/Spice86.Tests/AluTests.cs
Labels: compatibility, hardware, bugfix, CFGCPU

#1260 fix: add fuzzy file searching
  src/Spice86.Core/Emulator/OperatingSystem/Dos.cs
  src/Spice86.Core/Emulator/OperatingSystem/DosFileManager.cs
  src/Spice86.Core/Emulator/OperatingSystem/DosPathResolver.cs
  tests/Spice86.Tests/Emulator/OperatingSystem/DosPathResolverTest.cs
Labels: compatibility, DOS, bugfix

#1287 fix: correct image size calculation
  src/Spice86.Core/Emulator/LoadableFile/Dos/DosExeFile.cs
Labels: DOS, bugfix
