Repository OpenRakis/Spice86, pull requests merged in 2025-09, with the labels that each got.

#1299 fix: package upgrade broke master (font resource ?)
  src/Directory.Packages.props
Labels: bugfix

#1306 Feature: implement interrupt shadowing
  src/Spice86.Core/Emulator/CPU/CPU.cs
  src/Spice86.Core/Emulator/CPU/CfgCpu/CfgCpu.cs
  src/Spice86.Core/Emulator/CPU/CfgCpu/ParsedInstruction/Instructions/Mixins/FlagControl.mixin
  src/Spice86.Core/Emulator/CPU/CfgCpu/ParsedInstruction/Instructions/Mixins/PopReg.mixin
  src/Spice86.Core/Emulator/CPU/CfgCpu/ParsedInstruction/Instructions/MovSregRm16.cs
  src/Spice86.Core/Emulator/CPU/InstructionsImpl/Instructions16.cs
  src/Spice86.Core/Emulator/CPU/State.cs
Labels: enhancement, compatibility, CPU, bugfix

#1309 fix: cadaver CfgCpu hanging
  src/Spice86.Core/Emulator/InterruptHandlers/Input/Keyboard/KeyboardInt16Handler.cs
Labels: enhancement, compatibility, BIOS, bugfix, CFGCPU

#1332 chore: update nugets
  src/Directory.Packages.props
  tests/Directory.Packages.props
Labels: dependencies, 3rd party

#1318 fix: some minor mouse-related fixes and refactorings
  src/Spice86.Core/Emulator/InterruptHandlers/Input/Mouse/BiosMouseInt74Handler.cs
  src/Spice86.Core/Emulator/InterruptHandlers/Input/Mouse/IMouseDevice.cs
  src/Spice86.Core/Emulator/InterruptHandlers/Input/Mouse/MouseDriver.cs
  src/Spice86.Core/Emulator/InterruptHandlers/Input/Mouse/MouseInt33Handler.cs
  src/Spice86.Core/Emulator/InterruptHandlers/Input/Mouse/MouseStatus.cs
Labels: documentation, bugfix, Mouse

#1333 AAD was clearing all the flags.
  src/Spice86.Core/Emulator/CPU/CfgCpu/ParsedInstruction/Instructions/Aad.cs
  src/Spice86.Core/Emulator/CPU/InstructionsImpl/Instructions8.cs
Labels: bugfix

#1337 Rename discriminator to signature, This is more intuitive
  src/Spice86.Core/Emulator/CPU/CfgCpu/ControlFlowGraph/NodeToString.cs
  src/Spice86.Core/Emulator/CPU/CfgCpu/Feeder/CfgNodeFeeder.cs
  src/Spice86.Core/Emulator/CPU/CfgCpu/Feeder/CurrentInstructions.cs
  src/Spice86.Core/Emulator/CPU/CfgCpu/Feeder/InstructionsFeeder.cs
  src/Spice86.Core/Emulator/CPU/CfgCpu/Feeder/MemoryInstructionMatcher.cs
  src/Spice86.Core/Emulator/CPU/CfgCpu/Feeder/SignatureReducer.cs
  src/Spice86.Core/Emulator/CPU/CfgCpu/Linker/NodeLinker.cs
  src/Spice86.Core/Emulator/CPU/CfgCpu/ParsedInstruction/CfgInstruction.cs
  src/Spice86.Core/Emulator/CPU/CfgCpu/ParsedInstruction/FieldWithValue.cs
  src/Spice86.Core/Emulator/CPU/CfgCpu/ParsedInstruction/IDiscriminatorPart.cs
  src/Spice86.Core/Emulator/CPU/CfgCpu/ParsedInstruction/InstructionField.cs
  src/Spice86.Core/Emulator/CPU/CfgCpu/ParsedInstruction/SelfModifying/SelectorNode.cs
  src/Spice86.Core/Emulator/CPU/CfgCpu/ParsedInstruction/Signature.cs
  src/Spice86/ViewModels/CfgCpuViewModel.cs
  tests/Spice86.Tests/CfgCpu/CfgNodeFeederTest.cs
  tests/Spice86.Tests/CfgCpu/InstructionDiscriminatorTest.cs
  tests/Spice86.Tests/CfgCpu/InstructionSignatureTest.cs
  tests/Spice86.Tests/CfgCpu/InstructionsFeederTest.cs
Labels: refactoring, CFGCPU

#1356 Add support for saving the video card info to a file
  src/Spice86/Spice86DependencyInjection.cs
  src/Spice86/ViewModels/Services/HostStorageProvider.cs
  src/Spice86/ViewModels/VideoCardViewModel.cs
  src/Spice86/Views/VideoCardView.axaml
Labels: enhancement, UI, video, reverse engineering, Debugger

#1365 fix: an open file could not be re-created without closing (PYRO2)
  src/Spice86.Core/Emulator/OperatingSystem/DosFileManager.cs
Labels: compatibility, DOS, bugfix
