Repository OpenRakis/Spice86, pull requests merged in 2025-02, with the labels that each got.

#1031 Add IO and Interrupt breakpoints
  src/Spice86.Core/CLI/CommandLineParser.cs
  src/Spice86.Core/CLI/Configuration.cs
  src/Spice86.Core/Emulator/CPU/CPU.cs
  src/Spice86.Core/Emulator/CPU/CfgCpu/CfgCpu.cs
  src/Spice86.Core/Emulator/CPU/CfgCpu/ExecutionContextManager.cs
  src/Spice86.Core/Emulator/CPU/CfgCpu/Feeder/CfgNodeFeeder.cs
  src/Spice86.Core/Emulator/CPU/CfgCpu/Feeder/CurrentInstructions.cs
  src/Spice86.Core/Emulator/CPU/CfgCpu/Feeder/InstructionsFeeder.cs
  src/Spice86.Core/Emulator/CPU/CfgCpu/InstructionExecutor/InstructionExecutionHelper.cs
  src/Spice86.Core/Emulator/Devices/DirectMemoryAccess/DmaController.cs
  src/Spice86.Core/Emulator/Devices/ExternalInput/DualPic.cs
  src/Spice86.Core/Emulator/Devices/Input/Joystick/Joystick.cs
  src/Spice86.Core/Emulator/Devices/Input/Keyboard/Keyboard.cs
  src/Spice86.Core/Emulator/Devices/Sound/AudioEngine.cs
  src/Spice86.Core/Emulator/Devices/Sound/AudioPlayerFactory.cs
  src/Spice86.Core/Emulator/Devices/Sound/Blaster/SoundBlaster.cs
  src/Spice86.Core/Emulator/Devices/Sound/Midi/MT32/Mt32MidiDevice.cs
  src/Spice86.Core/Emulator/Devices/Sound/Midi/Midi.cs
  src/Spice86.Core/Emulator/Devices/Sound/PCSpeaker/PcSpeaker.cs
  src/Spice86.Core/Emulator/Devices/Sound/SoftwareMixer.cs
  src/Spice86.Core/Emulator/Devices/Sound/Ymf262Emu/OPL3FM.cs
  src/Spice86.Core/Emulator/Devices/Timer/Timer.cs
  src/Spice86.Core/Emulator/Devices/Video/VgaIoPortHandler.cs
  src/Spice86.Core/Emulator/Function/ExecutionFlowRecorder.cs
  src/Spice86.Core/Emulator/Gdb/GdbCommandBreakPointHandler.cs
  src/Spice86.Core/Emulator/Gdb/GdbCommandHandler.cs
  src/Spice86.Core/Emulator/Gdb/GdbCustomCommandsHandler.cs
  src/Spice86.Core/Emulator/Gdb/GdbServer.cs
  src/Spice86.Core/Emulator/IOPorts/DefaultIOPortHandler.cs
  src/Spice86.Core/Emulator/IOPorts/IIOPortHandler.cs
  src/Spice86.Core/Emulator/IOPorts/IOPortDispatcher.cs
  src/Spice86.Core/Emulator/InterruptHandlers/VGA/VgaFunctionality.cs
  src/Spice86.Core/Emulator/Memory/Memory.cs
  src/Spice86.Core/Emulator/ProgramExecutor.cs
  src/Spice86.Core/Emulator/ReverseEngineer/CSharpOverrideHelper.cs
  src/Spice86.Core/Emulator/VM/Breakpoint/AddressOperation.cs
  src/Spice86.Core/Emulator/VM/Breakpoint/AddressReadWriteBreakpoints.cs
  src/Spice86.Core/Emulator/VM/Breakpoint/BreakPointType.cs
  src/Spice86.Core/Emulator/VM/Breakpoint/EmulatorBreakpointsManager.cs
  src/Spice86.Core/Emulator/VM/EmulationLoop.cs
  src/Spice86.Core/Emulator/VM/Machine.cs
  src/Spice86/Models/Debugging/MidiInfo.cs
  src/Spice86/Program.cs
  src/Spice86/Spice86DependencyInjection.cs
  src/Spice86/ViewModels/BreakpointsViewModel.cs
  src/Spice86/ViewModels/DebugWindowViewModel.cs
  src/Spice86/ViewModels/DisassemblyViewModel.cs
  src/Spice86/ViewModels/MemoryViewModel.cs
  tests/Directory.Packages.props
  tests/Spice86.Tests/AluTests.cs
  tests/Spice86.Tests/BreakpointTests.cs
  tests/Spice86.Tests/CSharpOverrideHelperTest.cs
  tests/Spice86.Tests/CfgCpu/CfgNodeFeederTest.cs
  tests/Spice86.Tests/CfgCpu/InstructionsFeederTest.cs
  tests/Spice86.Tests/MachineTest.cs
  tests/Spice86.Tests/Spice86Creator.cs
Labels: enhancement, UI, Music, memory, tests, reverse engineering, GDB, CPU, refactoring, dependency injection, CFGCPU, Debugger

#1033 chore: Update Nugets
  .github/dependabot.yml
  src/Directory.Packages.props
  src/Spice86/ViewModels/BreakpointsViewModel.cs
  tests/Directory.Packages.props
Labels: 3rd party

#1034 Fix: Betrayal at Krondor SOUND BLASTER driver support (SNDBLAST.DRV)
  src/Spice86.Core/Emulator/Devices/DirectMemoryAccess/DmaController.cs
  src/Spice86.Core/Emulator/Devices/Sound/Blaster/SoundBlaster.cs
  src/Spice86.Core/Emulator/InterruptHandlers/Dos/DosInt21Handler.cs
  src/Spice86.Core/Emulator/Memory/DmaChannel.cs
  src/Spice86.Core/Emulator/OperatingSystem/Dos.cs
  src/Spice86.Core/Emulator/OperatingSystem/Structures/DosSwappableDataArea.cs
  src/Spice86.Core/Emulator/ProgramExecutor.cs
  src/Spice86.Core/Emulator/VM/EmulationLoop.cs
  src/Spice86.Core/Emulator/VM/Machine.cs
  src/Spice86/Spice86DependencyInjection.cs
Labels: performance, audio, Music, hardware, bugfix

#1044 chore: Update Nugets
  src/Directory.Packages.props
  src/Spice86.Core/Spice86.Core.csproj
  tests/Directory.Packages.props
Labels: 3rd party

#1047 Feature/small emulation fixes
  src/Spice86.Core/Emulator/Devices/Sound/Blaster/SoundBlaster.cs
  src/Spice86.Core/Emulator/InterruptHandlers/Input/Mouse/IMouseDriver.cs
  src/Spice86.Core/Emulator/InterruptHandlers/Input/Mouse/MouseDriver.cs
  src/Spice86.Core/Emulator/InterruptHandlers/Input/Mouse/MouseInt33Handler.cs
Labels: audio, compatibility, hardware, 16 bit, bugfix, Mouse

#1048 Delay the completion signal for single dma transfers
  src/Spice86.Core/Emulator/Devices/DirectMemoryAccess/DmaController.cs
  src/Spice86.Core/Emulator/Memory/DmaChannel.cs
Labels: enhancement, audio, compatibility, memory, hardware, krondor, bugfix, DMA

#1066 fix: Notification of pauses from emulator to GDB client
  src/Spice86.Core/Emulator/Gdb/GdbCommandBreakPointHandler.cs
  src/Spice86.Core/Emulator/Gdb/GdbCommandHandler.cs
  src/Spice86.Core/Emulator/Gdb/GdbServer.cs
Labels: GDB, bugfix

#1067 fix Step Over debugger functionality.
  src/Spice86/ViewModels/DisassemblyViewModel.cs
Labels: bugfix, Debugger
