Repository OpenRakis/Spice86, pull requests merged in 2025-07, with the labels that each got.

#1199 fix: allow for opening a host file by DOS more than once
  src/Spice86.Core/Emulator/OperatingSystem/DosFileManager.cs
Labels: enhancement, compatibility, DOS, bugfix

#1198 Fix/pcspeaker
  README.md
  src/Spice86.Core/Emulator/Devices/Sound/PCSpeaker/PcSpeaker.cs
  src/Spice86.Core/Emulator/Devices/Sound/PCSpeaker/PpiPortB.cs
  src/Spice86.Core/Emulator/Devices/Sound/PCSpeaker/QueuedNote.cs
  src/Spice86.Core/Emulator/Devices/Sound/PCSpeaker/SpeakerControl.cs
  src/Spice86.Core/Emulator/Devices/Timer/Pit8254Counter.cs
Labels: audio, compatibility, hardware, IBM PC Compatible, bugfix

#1202 Feature/opl3 filters (Dune and Krondor FM Synth music sound better)
  src/Spice86.Core/Emulator/Devices/Sound/Ymf262Emu/FmSynthesizer.cs
  src/Spice86.Core/Emulator/Devices/Sound/Ymf262Emu/OPL3FM.cs
Labels: audio, hardware

#1203 fix: performance measurement was degrading performance
  src/Spice86.Core/Emulator/VM/EmulationLoop.cs
  src/Spice86.Shared/Diagnostics/PerformanceMeasurer.cs
  src/Spice86.Shared/Interfaces/IPerformanceMeasurer.cs
  src/Spice86/Spice86DependencyInjection.cs
  src/Spice86/ViewModels/CfgCpuViewModel.cs
  src/Spice86/ViewModels/PerformanceViewModel.cs
Labels: UI, performance, refactoring

#1212 Add date/time related interrupt handlers
  src/Spice86.Core/Emulator/InterruptHandlers/Dos/DosInt21Handler.cs
  src/Spice86.Core/Emulator/InterruptHandlers/SystemClock/SystemClockInt1AHandler.cs
  src/Spice86.Core/Emulator/OperatingSystem/Clock.cs
  src/Spice86.Core/Emulator/OperatingSystem/Dos.cs
  src/Spice86/Spice86DependencyInjection.cs
  tests/Spice86.Tests/Dos/DosFileManagerTests.cs
  tests/Spice86.Tests/Emulator/OperatingSystem/ClockTest.cs
Labels: enhancement, compatibility, DOS

#1220 Fix/enviro kids german game
  README.md
  src/Spice86.Core/CLI/Configuration.cs
  src/Spice86.Core/Emulator/InterruptHandlers/Bios/SystemBiosInt13Handler.cs
  src/Spice86.Core/Emulator/InterruptHandlers/Dos/Ems/ExpandedMemoryManager.cs
  src/Spice86.Core/Emulator/OperatingSystem/DosFileManager.cs
Labels: compatibility, DOS, EMS, BIOS, bugfix

#1214 Fix/1208 video memory issue
  src/Spice86.Core/Emulator/Devices/Video/Registers/Graphics/MiscellaneousGraphicsRegister.cs
  src/Spice86.Core/Emulator/Devices/Video/Renderer.cs
  src/Spice86.Core/Emulator/Devices/Video/VideoMemory.cs
  src/Spice86/Spice86DependencyInjection.cs
  tests/Spice86.Tests/MachineTest.cs
Labels: bugfix
